html,
body {
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #007bff;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.HomeTitle {
  justify-content: center;
  /* padding: 10px; */
  /* font-size: 1.2rem; */
  font-weight: bold;
}

.HomeUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.Logoutbtn {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Logoutbtn:hover {
  background-color: #0056b3;
  color: white;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #f0f4f8;
  width: 110px;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar li:hover {
  color: #007bff;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.main-content h2 {
  margin-bottom: 10px;
}

.main-content p {
  line-height: 1.6;
}
