.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  background-color: #f0f4f8;
}

.SignupDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 370px;
  width: 90%;
}

.Credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.Credentials label {
  margin-bottom: 5px;
  font-weight: bold;
}

.SignupInput {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
}

.SignupSubmit {
  border-radius: 5px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100%;
  padding: 10px 20px;
}

.SignupSubmit:hover {
  background-color: #0056b3;
}

.SignupSubmit:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
